@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

body {
    font-weight: 300;
    color: white;
    background: url("../img/bg2.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #222;
    overflow-x: hidden;
}

.nav-wrapper {
    padding: 0 15px;
}

#main {
    min-height: 93vh;
}

.lead {
    width: 100%;
    background: rgba(0,0,0,0.5);
}

.lead * {
    font-weight: 300;
}

#projects {
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
    padding: 1px 30px 0 30px;
}

.placeholder {
    height: 200px;
}

.placeholder i {
    line-height: 200px;
    font-size: 72px;
    text-align: center;
}

footer {
    margin-top: -20px;
    min-height: 5vh;
    padding-left: 10px;
}

.preloader {
    z-index: 9999999999999999999999999;
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
}

.preloader.loaded {
    animation: fadeOut 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.preloader > .preloader-wrapper {
    margin: 0 auto 0 auto;
}